Translate.xcodeproj/project.xcworkspace/xcuserdata/willard.xcuserdatad/UserInterfaceState.xcuserstate
Translate.xcodeproj/xcuserdata/willard.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Translate.xcodeproj/xcuserdata/willard.xcuserdatad/xcschemes/Translate.xcscheme
Translate.xcodeproj/xcuserdata/willard.xcuserdatad/xcschemes/xcschememanagement.plist
